<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553243433087-26q2f393lovjetr3ngj4i4ju80jvb2qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553243433087-26q2f393lovjetr3ngj4i4ju80jvb2qo</string>
	<key>API_KEY</key>
	<string>AIzaSyC_-C3yvD_35HCGjeVF1OYlGIFuVQ18V2o</string>
	<key>GCM_SENDER_ID</key>
	<string>553243433087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.naohiro.hiramoto.solovel-ver3</string>
	<key>PROJECT_ID</key>
	<string>solovel-login-2e84b</string>
	<key>STORAGE_BUCKET</key>
	<string>solovel-login-2e84b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553243433087:ios:2189954b7ce04b2db9074a</string>
</dict>
</plist>